.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
    text-align: center;
    padding: 1.5rem;
    display: block;
    background-color: rgba($color-white, 0.05);
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba($color-white, 0.2);
    transform: translateY(-3px);
  }
}
